<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Seach Napster</title>
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<link rel="stylesheet" href="css/default.css" type="text/css" />
</head>
<body id="SeachNapster">
	<h1>Search Napster</h1>
	<div id="contents">
		<form action="index.cgi" method="post">
			<input type="hidden" name="search" value="artist" />
			<div id="searchArea">
				<input type="text" name="keyword" value="" class="keyword" />
				<input type="submit" name="submit" value="search" class="submit" />
			</div>
		</form>
	</div>
</body>
</html>