<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Seach Napster</title>
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<link rel="stylesheet" href="css/default.css" type="text/css" />
</head>
<body id="SeachNapster">
	<h1>Search Napster</h1>
	<div id="contents">
		<h2>Artist:[% form.artist_name %]</h2>
		[% IF !form.data.0 %]
			<h2>no data!</h2>
		[% ELSE %]
			[% FOR artist IN form.data %]
				[% IF artist %]
					[% IF artist.downloadable == 0 %]<span style="color: #FF6347;">[charge]</span><br />[% END %]
					[% IF artist.downloadable == 1 %]<span style="color: #1E90FF;">[download]</span><br />[% END %]
					Album:[% artist.album %]<br />
					Track:[% artist.track %]<br />
					[% "<hr />\n" IF !loop.last %]
				[% END %]
			[% END %]
		[% END %]
	</div>
	<div id="footer">
		[% IF form.pager.0 %]
			<div class="pageNavi">
				page: 
				[% FOREACH num IN form.pager %]
					[% IF num == form.page %]
						[% num %]
					[% ELSE %]
						<a href="index.cgi?search=artist_detail&artist_id=[% form.artist_id %]&page=[% num %]">[% num %]</a>
					[% END %]
				[% END %]
			</div>
		[% END %]
		<div class="toTop">
			<a href="index.cgi"> TOP >></a>
		</div>
	</div>
</body>
</html>